.achievementImage{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:200px;
    width:100%;
}

.contentContainer{
    position: relative;
    padding: 18px;
    h1{
        position: absolute;
        top:-78px;
        left:18px;
        color: white;
        // -webkit-text-stroke: 4px white;
        font-size: 65px;
    }
    h3{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        text-align: left!important;
        font-size: 20px;
        line-height: 1.5;
    }
}

