.navLink{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    h3{
        margin-top: 12px;
    }
    img{
        max-height: 120px;
        width: auto;
    }
}

.navLink:hover{
    background-color: white!important;
    background: white!important;
    img{
        max-height: 140px;
        filter: none;
    }
}